{
	# Enable FrankenPHP
	frankenphp
	automate_https {
		disable: true
	}
}

http://* {
	root * /app/public/public
	@insecure {
  		header X-Forwarded-Proto http
	}

	# Enable compression
	encode zstd br gzip

	# Execute PHP files in the current directory and serve assets
	route {

		@blocked path src/* config/* files/* vendor/*
       	respond @blocked "Access Denied" 403 {
       		close
       	}
		# Add trailing slash for directory requests
		@canonicalPath {
			file {path}/index.php
			not path */
		}
		redir @canonicalPath {path}/ 308
		# If the requested file does not exist, try index files
		@indexFiles file {
			try_files {path} {path}/index.php index.php
			split_path .php
		}
		rewrite @indexFiles {http.matchers.file.relative}
		# FrankenPHP!
		@phpFiles path *.php
		php @phpFiles
		file_server
	}
}